#regId {
	width: 400px;
	margin: auto;
	padding-top: 50px;
	height: 55px;
	color: white;
}
#sched:link {
	color: #eeb3ff;
	text-decoration: none;
}
#sched:hover {
	background-color: a000cc;
}
#sched:visited {
	color: #eeb3ff;
	text-decoration: none;
}